<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="shortcut icon" href="images/favicon-icon.png" />

    <title>Adicionar Horário</title>

</head>
<body>
    <!-- Barra navegação -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#barra-navegacao">
                <span class="sr-only">Alternar Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">LOGO</a>
        </div>

        <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="/">Home</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Cadastrar <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="/form_add_horario">Cadastrar Horarios</a> </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Minha Conta <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">Editar</a> </li>
                        <li> <a href="#">Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fim Barra navegação -->

    <div class="container">
        <% if(msg == 'A') { %>
            <div class="alert alert-danger">
                <strong>Operação inválida, verifique se todos os campos foram preenchidos!</strong>
            </div>
        <% } %>
        <div class="page-header">
   			<h1>Adicionar novo horário</h1>
   		</div>
        <div class="row">
            <div class="col-md-0"></div>
            <div class="col-md-12">
                <form action="/horario/salvar" method="post">
                    <div class="form-group">
                        <label for="empresa">Empresa</label>
                        <select class="form-control" id="empresa" name="empresa" required>
                            <option value="" selected>Choose...</option>
                            <% if(empresas.length > 0) { %>
                                <% for(var i = 0; i < empresas.length; i++) { %>
                                    <option value="<%=empresas[i].nome%>"><%=empresas[i].nome%></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="rota">Rota</label>
                        <input type="text" class="form-control" id="rota" name="rota" required>
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" id="tipo" name="tipo" required>
                            <option value="" selected>Choose...</option>
                            <option value="Normal">Normal</option>
                            <option value="Extra">Extra</option>
                        </select>
                    </div>

                    <div class="form-group" style="display:none" id="div_insercoes">
                        <label for="qnt_insercoes">Quantidade de inserções</label>
                        <input type="number" class="form-control" id="qnt_insercoes" name="qnt_insercoes">
                    </div>

                    <div class="form-group">
                        <label for="horario">Horário</label>
                        <input type="datetime-local" class="form-control" id="horario" name="horario" required>
                    </div>

                    <div class="form-group">
                        <label for="plataforma">Plataforma</label>
                        <select class="form-control" id="plataforma" name="plataforma" required>
                            <option value="" selected>Choose...</option>
                            <% if(plataformas.length > 0) { %>
                                <% for(var i = 0; i < plataformas.length; i++) { %>
                                    <option value=<%=plataformas[i].plataforma%>><%=plataformas[i].plataforma%></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
                </form>
            </div>
            <div class="col-md-0"></div>
        </div> <!-- /row -->
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
    $( document ).ready(function() {
        $('#tipo').on('change', function() {
            if (this.value == 'Normal') {
                $('#div_insercoes').css('display', 'block');
            }
            if (this.value == 'Extra') {
                $('#div_insercoes').css('display', 'none');
            }
        });
    });
    </script>
</body>
</html>
