#calendar {
    max-width: 900px;
    margin: 0 auto;
}
.navbar.navbar-inverse {
  background: #101010;
  border: none;
}
.navbar .navbar-brand {
  padding-top: 5px;
}
.navbar .navbar-brand img {
  height: 40px;
}
